<header >
  <div class="logo_area">
    <a href="">
            <img src="../../../assets/images/12.png" width="50px" alt=""/><br />
            <a style="color: #d95663">Sweet </a>
            <a style="color: #ffffff">home</a>
    </a>
  </div>

  <nav>
    <ul>
      <li><a href="">About Us</a></li>
      <li><a href="">Learn</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">My Propfolio</a></li>
      <li><a href="">Sell my property </a></li>
    <li><a href="">Marketplace</a></li>
      <!-- <li style="margin-top: -30px">
        <a href=""
          ><img src="../../../assets/images/sun.png" height="60px" alt=""
        /></a>
      </li> -->
    </ul>
  </nav>

  <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <ul class="mobile-menu">
      <li><a href="">About Us</a></li>
      <li><a href="">Learn</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">My Propfolio</a></li>
      <li><a href="">Sell my property </a></li>

      <li><a href="">Marketplace</a></li>
      <li>
        <!-- <a href=""
          ><img src="../../../assets/images/sun.png" height="60px" alt="" id="icon"
        /></a> -->
      </li>
    </ul>
  </div>
</header>
